<!-- Content Heading -->
<% if (title) { %>
<h1>
<%= title %>
</h1>
<% } else { res.redirect('/') } %>

<!-- Messages -->
<%- messages() %>

<!-- Login form to display -->
<div class="form-container">
    <form class="form">
        <!-- <fieldset id="credentials">
            <legend>Login Credentials</legend> -->
            <div class="email-field">
                <label for="account_email">E-mail Address:<input type="email" name="account_email" id="account_email" autocomplete="email" 
                    title="Please enter your e-mail address" placeholder="person@email.com" required>
                </label>
            </div>
            <div class="password-field">
                <label for="account_password">Password:<br>
                    <span id="password-reqs">Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1
                        special character</span>
                        <input type="password" name="account_password" id="account_password" autocomplete="current-password"
                        title="Please enter your password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
                </label>
            </div>
            <button type="submit">Login</button>
        <!-- </fieldset> -->
    </form>
    <p id="registration">No account? <a title="Click to sign up" href="/account/registration">Sign Up</a></p>
</div>