/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family:'Times New Roman', Times, serif;
}

#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tools {
  margin-top: 1rem;
}

#tools a {
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: smaller;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
  background-color: rgba(128, 0, 128, 0.5);
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem 0;
}

header a {
  text-decoration: none;
  color: black;
}

.hero-callouts {
  display: grid;
  grid-template-columns: 100%;
}

.hero {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
}

.notice {
  color: green;
  font-weight: bold;
}

#messages ul {
  list-style: none;
  padding: 0 0 0 1rem;
}

.callout {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.callout-data {
  border: none;
  color: blue;
  background-color: rgba(255, 255, 255, 0.75);
  margin-left: 1rem;
}

.callout-data-header h3 {
  margin: 0;
  padding: 0;
}

.callout-data-list {
  list-style: none;
  padding-left: 0;
  font-size: smaller;
  margin-top: 0;
  margin-bottom: 0;
}

#own-today-button {
  width: 100px;
  height: 100%;
  margin: 0.1rem 0 0 0;
  padding: 0;
}

.reviews-ul {
  line-height: 2;
  margin-left: -20px;
  font-size: smaller;
}

.upgrades-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0.5rem 0.5rem;
}

.upgrades-image-background {
  background-color: rgba(128, 0, 128, 0.5);
  border: 1.5px solid gray;
  width: 150px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-content: center;
}

figcaption {
  text-align: center;
  font-size: smaller;
  color: blue;
}

.upgrades-images {
  padding: 0.25rem;
  width: auto;
  height: 100%;
}

#inv-display {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#inv-display li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem 0.5rem;
  margin: 0.5rem auto;
  border: 0.5px solid rgba(128, 0, 128, 0.5);
  border-radius: 10px;
  width: 185px;
  height: 250px;
}

#inv-display li a img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.namePrice {
  margin-top: auto;
  padding: 0;
  text-align: center;
}

.namePrice h2 {
  margin: 0.5rem 0;
  padding: 0;
  font-size: 18px;
}

#inv-display hr {
  border: none;
  border-top: 3px solid black;
  margin: 0.25rem 0;
}

#detail-display {
  margin: 0 1rem;
}

#detail-display img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

#vehicle-data {
  margin-left: 0.5rem;
}

#vehicle-price {
  font-weight: bold;
  font-size: 19px;
  background-color: lightgray;
}

#vehicle-price, #vehicle-description, #vehicle-color, #vehicle-miles {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

#vehicle-color {
  background-color: lightgray;
}

.detail-label {
  font-weight: bold;
  font-size: larger;
}

/* Account Login view */
.form-container {
  padding: 0.5rem;
  border: 2px solid rgba(128, 0, 128, 0.5);
}
.form {
  padding: 0 1rem;
}
.form label {
  display: block;
  padding-top: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  max-width: 400px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="number"],
.form textarea,
.form select
{
  display: block;
  margin-top: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 400px;
  font-family: 'Roboto', sans-serif;
}

::placeholder {
  color: gray;
  opacity: 1;
  font-family: 'Roboto', sans-serif;
}

.form button {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  cursor: pointer;
  background: linear-gradient(45deg, rgba(128, 0, 128, 0.5), lightgray);
  color: black;
  border: none;
  margin: 1rem 0;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 25px;
  transition: 0.3s ease;
  text-decoration: none;
  width: 100%;
  max-width: 400px;
  height: 45px;
}

.form button:hover {
  background: linear-gradient(45deg, lightgray, rgba(128, 0, 128, 0.5));
  transform: scale(1.05);
}

#registration {
  text-align: center;
  margin: 0;
}

input:user-invalid, textarea:user-invalid, select:user-invalid {
  background-color: rgba(255, 0, 0, 0.4);
}

/* Register view */
.show-hide-password {
  position: absolute;
  right: 40px;
  top: 59.5%;
  transform: translateY(-50%);
  z-index: 100;
}

.show-hide-password svg {
  background-color: white;
  display: block;
  padding: 0.2em;
}

#password-reqs {
  font-weight: normal;
}

/* Inventory Management View */
.management-links-container {
  list-style: none;
  padding: 0 0 0 1rem;
  line-height: 2;
  font-size: larger;
}

/* Add Classification View */
#add-classification-reqs, #add-inventory-reqs {
  margin: 1rem 0 0 0;
  color: blue;
  font-weight: bold;
}

footer {
  font-size: smaller;
  color: black;
}

@media screen and (min-width: 480px) {
  body {
    background-image: url('/images/site/checkerboard.jpg');
  }

  #wrapper {
    background-color: white;
    border: 3px solid blue;
    margin: 0 3rem;
    padding: 1rem 0.5rem 0 0.5rem;
  }

  nav ul li a {
    padding: 0.5rem 0;
  }

  .callout-data {
    margin: 3rem 0 0 4rem;
  }

  .callout-data-header {
    font-size: larger;
  }

  .callout-data-list {
    font-size: medium;
  }

  #own-today-button {
    margin: 1rem 0 0 0;
  }

  #review-upgrades-container {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 10px;
    padding: 1rem 0;
  }

  /* Got help with the order property from a Bing search for: "change the order of items css grid" */
  #reviews {
    order: 2;
  }

  #upgrades {
    order: 1;
  }

  #detail-display {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 25px;
    padding: 1rem 0;
  }

  #detail-display h2 {
    margin: 0;
  }
  
  /* Account Login view */
  .form-container {
    max-width: 900px;
  }
  #registration {
    text-align: left;
    margin-left: 1.5rem;
  }
  .form button {
    max-width: 200px;
  }

}