<!-- Content Heading -->
<% if (title) { %>
<h1>
<%= title %>
</h1>
<% } else { res.redirect('/') } %>

<!-- Messages -->
<%- messages() %>

<!-- Errors -->
<!-- <% if (errors) { %>
<ul class="notice">
<% errors.array().forEach(error=> { %>
    <li>
        <%= error.msg %>
    </li>
    <% }) %>
</ul>
<% } %> -->

<!-- Links to display -->
<ul class="management-links-container">
    <li><a title="Click to add a new classification" href="/inv/add-classification">Add New Classification</a></li>
    <li><a title="Click to add a new vehicle" href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>

<h2>Manage Inventory</h2>
<p>Please select a vehicle classification from the list to see the inventory in that classification</p>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>